body {
    background-color: rgba(45, 46, 46, 0.966);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 195, 245);
}

h2 {
    color: rgb(255, 152, 67); 
}

/* left sidbar box elements */
div.box {
    background-color: blanchedalmond;
    width: 150px;
    height: 105px;
    margin: 0px 0px 5px 10px;
    position: relative; 
}

/* text in the left lcars sidebar */
div.box p {
    background-color: blanchedalmond;
    color: rgba(45, 46, 46, 0.966);
    font-size: .8em;
    font-weight: 600;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* the vertical portion of the sidebar box that connects to the rounded horizontal bar from above */
div.box.corner {
    height: 15px;
    margin: 0px 0px 0px 10px;
}

/* the vertical portion of the sidebar box that connects to the rounded horizontal bar from underneath */
div.box.top-corner {
    height: 15px;
    margin: -5px 0px 5px 10px;
}

div.top {
    height: 120px;
    margin: 0px 0px 5px 10px;
}

/* container flexbox styling to float lcars title bars in a row */
.container {
    display: flex;
}

/* sidbar full-page wrapper bottom left corner */
.full-bar-bottom-corner {
    border-bottom-left-radius: 50px;
    background-color: blanchedalmond;
    margin: 0px 0px 5px 10px;
    min-width: 270px;
    height: 25px;
}

/* sidbar full-page wrapper upper left corner */
.full-bar-top-corner {
    border-top-left-radius: 50px;
    background-color: blanchedalmond;
    margin: 0px 0px 5px 10px;
    min-width: 270px;
    height: 25px;
}

/* sidebar wrapper middle horizontal bar */
.full-bar-mid {
    background-color: blanchedalmond;
    margin: 0px 0px 5px 5px;
    min-width: 250px;
    height: 25px;
}

/* sidebar wrapper right-hand horizontal bar */
.full-bar-right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: blanchedalmond;
    margin: 0px 10px 5px 5px;
    width: 75%;
    height: 25px;
}

/* semi-circular horizontal bar elements */
.lcars-bar-left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(255, 152, 67);
    margin: 10px;
    min-width: 35px;
    height: 25px;
}

/* non-rounded horizontal bar elements */
.lcars-bar-right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(255, 152, 67);
    margin: 10px;
    width: 95%;
    height: 25px;
}

/* text in horizontal bar elements */
.lcars-bar-text {
    margin: 10px;
    min-width: 200px;
    height: 25px;
}

/* the div defining the left-hand lcars sidebar */
.sidebar {
    width: 170px;
    float: left;
}

.content {
    display: block;
    width: 99%;
    height: 575px; /* need to manually adjust this to account for final sidebar height */
    margin: 0px 0px 5px 0px;
}