body {
    background-color: rgba(45, 46, 46, 0.966);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 195, 245);
}

h2 {
    color: rgb(255, 152, 67);
    
}

/* container flexbox styling to float lcars title bars in a row */
.container {
    display: flex;
    width: 97%
}

/* semi-circular horizontal bar elements */
.lcars-round-bar {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(255, 152, 67);
    margin: 10px;
    min-width: 35px;
    height: 25px;
}

/* non-rounded horizontal bar elements */
.lcars-horiz-bar {
    background-color: rgb(255, 152, 67);
    margin: 10px;
    width: 75%;
    height: 25px;
}

/* text in horizontal bar elements */
.lcars-text {
    margin: 10px;
    min-width: 200px;
    height: 25px;
}

.dice-roller {
    position: relative;
}